@page
@model mainproductsModel
@{
    Layout = "~/pages/shared/_Layout-Dark.cshtml";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- styles -->
    <link rel="stylesheet" href="~/cssEndUser/main-product.css" asp-append-version="true">
    <link rel="stylesheet" href="~/fontawesome-free-6.4.0-web/css/all.min.css" asp-append-version="true">
  
    <title>Products</title>
</head>

<body>
    @Html.AntiForgeryToken()

    <!-- SHOP SECTION -->
    <section class="shop-container">
        @* Slow Rendering *@
        <div class="orion-categ">
            <form method="get" id="productTypeForm">
                <input type="hidden" name="SearchQuery" value="@Model.SearchQuery" />
                <button type="submit" name="ProductType" value="Beads" class="categoryyy">
                    <div class="category-img">
                        <img src="img/pexels-cottonbro-studio-3838692.jpg" alt="">
                    </div>
                    <p>Beads</p>
                </button>
                <button type="submit" name="ProductType" value="Crochet" class="categoryyy">
                    <div class="category-img">
                        <img src="img/pexels-miriam-alonso-7585238.jpg" alt="">
                    </div>
                    <p>Crochet</p>
                </button>
                <button type="submit" name="ProductType" value="Resin" class="categoryyy">
                    <div class="category-img">
                        <img src="img/pexels-miriam-alonso-7585704.jpg" alt="">
                    </div>
                    <p>Resin</p>
                </button>                
                <button type="submit" name="ProductType" value="Clay art" class="categoryyy">
                    <div class="category-img">
                        <img src="img/pexels-thirdman-7256642.jpg" alt="">
                    </div>
                    <p>Clay art</p>
                </button>
            </form>
        </div>                  

        <!-- categories end search start -->
        <div class="container-search">
            @* Slow Rendering *@
            <form method="get">
                <input type="text" placeholder="Search" name="SearchQuery" class="input-search" value="@Model.SearchQuery">
                <input type="hidden" name="ProductType" value="@Model.ProductType" />
                <button type="submit">
                    <svg fill="#000000" width="20px" height="20px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
                        <path d="M790.588 1468.235c-373.722 0-677.647-303.924-677.647-677.647 0-373.722 303.925-677.647 677.647-677.647 373.723 0 677.647 303.925 677.647 677.647 0 373.723-303.924 677.647-677.647 677.647Zm596.781-160.715c120.396-138.692 193.807-319.285 193.807-516.932C1581.176 354.748 1226.428 0 790.588 0S0 354.748 0 790.588s354.748 790.588 790.588 790.588c197.647 0 378.24-73.411 516.932-193.807l516.028 516.142 79.963-79.963-516.142-516.028Z" fill-rule="evenodd"></path>
                    </svg>
                </button>
            </form>
        </div>

        <!-- search end subcategory start -->
        <h2 class="section-title">Shop Products</h2>

        <!-- CONTENT -->
        <div class="shop-content">
            @for (int i = 0; i < Model.Products.Count; i++) @* Done without images database  *@
            {
                var name = Model.Products[i].ProductName;
                var img = Model.Products[i].ProductImage;
                var price = Model.Products[i].ProductPrice;
                var id = Model.Products[i].Id;
                var imgSrc = img != null ? $"data:image/jpg;base64,{Convert.ToBase64String(img)}" : "img/product1.jpg"; // Fallback image

                <div class="product-box">
                    <a href="/EndUser/details?productId=@id"><img src="@imgSrc" alt="" class="product-img"></a>
                    <h2 class="product-title">@name</h2>
                    <span class="product-price">$@price</span>
                    <span class="product-id">@id</span>
                    <i class='bx bx-shopping-bag add-cart'></i>
                </div>
            }
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="fcontainer">
            <div class="row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Our services</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Order status</a></li>
                        <li><a href="#">Payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Online shop</h4>
                    <ul>
                        <li><a href="#">Watch</a></li>
                        <li><a href="#">Bag</a></li>
                        <li><a href="#">Shoes</a></li>
                        <li><a href="#">Dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- link js -->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="Js/mainCartProducts.js"></script>
</body>

</html>